<div class="row">
    <div class="col-md-6 col-md-push-3">
        <div id="title">
            <div class="page-header">
                <h1>{{model.name}}
                    <small>by {{model.author}}</small>
                </h1>
            </div>
        </div>
        <div class="media">
            <a class="media-left" href="#">
                <img class="media-object" src="{{model.image}}" alt="Placeholder image">
            </a>
            <div class="media-body">
                <div id="preptime">
                    <span> <b>Preptime:</b> {{model.preptime}} </span>
                </div>
                <div id="cooktime">
                    <span> <b>Cooktime:</b> {{model.cooktime}} </span>
                </div>
            </div>
            <hr/>
        </div>
        <div id="content">
          {{{model.body}}}
        </div>
      {{#if session.isAuthenticated}}

      {{else}}
          <div id="comments">
              <h2>Comments</h2>
              <div style="margin-bottom:20px;">
                {{simditor-editor placeholder="Sign in to comment" update=(action (mut value)) editor=(mut editor)}}
              </div>
              {{bs-button defaultText="Submit" type="success" action=(action "newComment") buttonType="submit"}}
              {{bs-button defaultText="Clear" type="primary" action=(action "clearText") buttonType="submit"}}
              <ul class="media-list" style="margin-top:20px;">
                  <li class="media">
                      {{#each model.comment as |recipeComment|}}
                        {{commnet-display body=recipeComment.body author=recipeComment.author}}
                      {{/each}}
                  </li>
              </ul>
          </div>
      {{/if}}
    </div>
</div>